* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Red Rose';
	background-color: #2b2922;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 85%;
	padding: 40px 0 30px 0;
	margin: 0 auto;
}

.list {
	display: flex;
	align-items: center;
}

.list-item {
	color: rgba(255, 255, 255, 0.4);
	list-style: none;
	margin: 0 20px;
	font-size: 20px;
}

li:first-child {
	color: #ffffff;
}

.button {
	background-color: transparent;
	color: #969422;
	font-size: 20px;
	border: 3px solid #969422;
	border-radius: 10px;
	padding: 10px 30px;
	margin-left: 20px;
}

.hero-text {
	max-width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0;
}

.hero-heading {
	color: #ffffff;
	max-width: 50%;
	font-size: 74px;
	text-transform: capitalize;
}

.hero-description {
	color: rgba(255, 255, 255, 0.4);
	font-size: 20px;
	max-width: 45%;
}

.hero-img img {
	width: 100%;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin-top: -5px;
}

.footer-box-left {
	background-color: #39372d;
}

.footer-box-right {
	background-color: #969422;
}

.footer-box__circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.footer-box__circle-left {
	border: 2px solid #969422;
}

.footer-box__circle-right {
	border: 2px solid #ffffff;
}

.fa-solid {
	font-size: 25px;
}

.fa-chevron-left {
	color: #969422;
}

.fa-chevron-right {
	color: #ffffff;
}
